apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
      - name: backend
        image: 953675642713.dkr.ecr.ap-south-1.amazonaws.com/backend:final4
        ports:
        - containerPort: 4000
        env:
        - name: MONGO_URL
          value: mongodb://mongo:27017/studynotion
---
apiVersion: v1
kind: Service
metadata:
  name: backend
spec:
  type: LoadBalancer
  ports:
  - port: 4000
    targetPort: 4000
  selector:
    app: backend
