apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
      - name: frontend
        image: DOCKER_IMAGE_FRONTEND
        ports:
        - containerPort: 80
---
apiVersion: v1
kind: Service
metadata:
  name: frontend
spec: 
  type: LoadBalancer
  ports:
  - port: 80
    targetPort: 80
    nodePort: 31796
  selector:
    app: frontend
